{% comment %}
    Paste Analytics code snippet here (for example from Matomo) or set google-analytics-id in config.yml
{% endcomment %}
<!-- Analytics: start --> 
{% if site.google-analytics-id %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FXH69GJ6PV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FXH69GJ6PV');
</script>
<!-- Analytics: end --> 
<script defer src="https://cloud.umami.is/script.js" data-website-id="18d86854-9e4b-4e42-bfe5-27bb58efad72"></script>
<script defer src="https://umami.biblicon.org/script.js" data-website-id="9383ffd7-bc83-41d5-91d8-e823944e72d8"></script>
{%- endif -%}
