/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
.fs-70 {
	font-size: 70%;
}

blockquote {
font-size: 80%;
padding-left:3em;
padding-right: 2em;
}

.bibl {
padding-left:2em;
text-indent:-2em;
}

div.about-contents img {
max-width: 600px;
}

img.figure-img { border: 2px solid black; }

.about-contents>h2 {
padding-top: 20px;
}

div#title h1 {
  font-size: 36px;
  font-family: ccbiffbamboom, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}

div#title {
  font-size: 16px;
  font-family: ccbiffbamboom, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1200px) {
div#title h1 {
  font-size: 52px;
  font-family: ccbiffbamboom, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}

div#title {
  font-size: 24px;
  font-family: ccbiffbamboom, sans-serif;
  font-weight: 400;
  font-style: normal;
}
}

@media (max-width: 575px) {
div#title h1 {
  font-size: 26px;
  font-family: ccbiffbamboom, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}

div#title {
  font-size: 12px;
  font-family: ccbiffbamboom, sans-serif;
  font-weight: 400;
  font-style: normal;
}
}





div#title p {
  margin-bottom:0;
}

nav {
  font-family: ccmeanwhile, "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

#home-banner-logo {
  height: 80px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .jumbo-tagline, #home-title-box {
  font-family: ccmeanwhile, "Helvetica Neue", Helvetica, Arial, serif;
}

.bibl {
text-indent: -2rem;
padding-left: 2rem;
}
