/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
.fs-70 {
	font-size: 70%;
}

blockquote {
font-size: 80%;
padding-left:3em;
padding-right: 2em;
}

.bibl {
padding-left:2em;
text-indent:-2em;
}

div.about-contents img {
max-width: 600px;
}

img.figure-img { border: 2px solid black; }

.about-contents>h2 {
padding-top: 20px;
}

div.title h1 {
  font-size: 32px;
  font-family: ccbiffbamboom, sans-serif;
  font-weight: 400;
  font-style: normal;
}

div.title {
  font-size: 18px;
  font-family: ccbiffbamboom, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  font-family: ccmeanwhile, "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
